{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-import"],
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "tsx": true // Allows for the parsing of JSX
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "import/order": 2,
    "quotes": [2, "single"],
    "spaced-comment": ["error", "always", { "exceptions": ["-", "+"] }],
    "comma-dangle": ["error", "only-multiline"],
    "no-multiple-empty-lines": "off",
    "no-unused-vars": 1
  }
}
