@import '@/common/css/var.less';

.edit-role__page-equip {
  display: flex;
  flex-wrap: wrap;

  .role-equip__list {
    font-size: 100px;
    display: flex;
    justify-content: center;

    top: 50px;
    margin: auto;
    width: auto !important;

    .role-equip__list-header {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid @theme-color;

      .list-header__title {
        font-size: 16px !important;
        color: @theme-font-color  !important;

        .list-header__title-icon {
          color: @theme-color  !important;
        }
      }
    }

    .role-equip__list-content {
      display: flex;
      overflow-y: auto;
      max-height: 70vh;
      min-width: 670px;

      padding: 5px;
      margin: 10px 0;

      .role-list {
        display: flex;
        flex-direction: column;

        min-width: 300px;
        margin: 0 10px;
        border: 1px;

        .role-list_item {
          display: flex;
          justify-content: start;
          align-items: center;
          color: @theme-font-color;
          font-size: 16px;

          min-height: 50px;
          padding: 0 10px;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: @theme-color;

          transition: 0.3s;

          .role-list_item-name {
            text-align: left;
            min-width: 150px;
          }

          &:hover {
            background-color: #4e8eee25;
          }
        }
      }

      .role-detail {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 1px;

        .role-detail_container {
          border: 1px solid @theme-color;
          flex-grow: 0;
        }
      }
    }

    .role-equip__list-footer {
      display: flex;
      align-items: center;

      padding: 10px 10px 0;
      border-width: 1px 0 0;
      border-style: solid;
      border-color: @theme-color;

      .list-footer__btn {
        font-size: 16px;
        color: @theme-font-color;

        padding: 5px 15px;
        border: 1px solid @theme-color;
        border-radius: 25px;
        margin: 0 5px;

        transition: 0.3s;

        .list-footer__btn-icon {
          color: @theme-color;

          margin: 5px;
        }

        &:hover {
          background-color: #4e8eee25;
        }
      }

      .list-footer__btn-error {
        font-size: 16px;
        color: red;
        opacity: 0.6;

        padding: 5px 15px;
        border: 1px solid red;
        border-radius: 25px;
        margin: 0 5px;

        .list-footer__btn-icon {
          margin: 5px;
        }
      }

      .list-footer__div {
        flex-grow: 1;
      }
    }
  }
}