@import '@/common/css/var.less';

.edit-role__page-equip {
  display: flex;
  flex-wrap: wrap;

  .role-equip__card {
    color: @theme-color;
    font-size: 16px;

    min-width: 350px;
    padding: 10px;
    border: 1px solid @theme-color;
    border-radius: 5px;
    margin: 10px;

    .role-equip__card-header {
      display: flex;
      font-size: 14px;

      padding: 5px;
      border-bottom: 1px solid @theme-color;

      .card-header__title {
        flex-grow: 1;

        margin: 0 5px;
      }

      .card-header__btn {
        font-size: 16px;

        padding-left: 5px;
        border: none;

        transition: 0.15s;

        &:hover {
          color: @theme-font-color;
        }
      }
    }

    .role-equip__content {
      display: flex;
      align-items: center;

      min-height: 100px;

      padding: 5px;
      margin: 10px 0;

      .role-equip__content-details {
        color: @theme-font-color;
        font-size: 16px;

        margin: auto;

        .content-details__icon {
          font-size: 24px;

          padding: 10px;
        }

        .content-details__text {
          font-size: 20px;

          padding: 10px;
        }
      }
    }
  }

  .role-equip__list {
    font-size: 100px;
  }
}