.role-item {
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 12px rgba(0, 0, 0, 0.06);

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 12px rgba(0, 0, 0, 0.12);
  }

  .role-item__delete {
    color: rgba(255, 0, 0, 0.4) !important;
    transition: 0.2s;

    &:hover {
      color: rgb(255, 0, 0) !important;
    }
  }
}