@import '@/common/css/var.less';

.edit-role {
  display: flex;
  flex-direction: column;

  .edit-role__header {
    display: flex;

    height: 140px;
    margin: 0 auto;
    
    .edit-role__card {
      max-width: @min-width !important;
      padding-top: 35px;
    }
  }

  .edit-role__details {
    display: flex;
    max-width: @min-width;
    margin: 0 auto;

    .edit-role__details-content {
      min-width: @min-width !important;
      background-color: white;

      .edit-role__details-header {
        position: sticky;

        top: 70px;

        background-color: white;
        padding: 0 10px;

        .edit-role__details-menu {
          .edit-role__menu-item {
            color: @theme-color;
          }
        }
      }
    }
  }
}