.Edit-role__page {
  font-size: 14px;
  
  .Edit-role__ability {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .Edit-role__ability-name {
      min-width: 45px;
    }

    .ability-input {
      flex-grow: 1;
      margin-left: 10px;
    }
  }
}