.edit-role__page-ability {
  font-size: 14px;

  .page-ability__container {
    padding: 10px;
    margin-top: 30px;

    .edit-role__ability {
      display: flex;
      align-items: center;
      margin: 10px 0;

      .edit-role__ability-name {
        text-align: center;
        width: 100px;
      }

      .ability-input {
        flex-grow: 1;
        margin-left: 10px;
      }
    }
  }

}